In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
rootdir = 'D:/Github/BigDataAnalysis/01 Data Analysis and Pre-processing/Dataset/'
filenames = ['Auxiliary_Info.xlsx']
au_info = pd.read_excel(rootdir + filenames[0])

In [3]:
au_info

,Semester Start Week,Holiday Date,Attendance period Start,Attendance period End,Attendance period Description,Make up lessons ID,Original lessons Date,Make up lessons Date,Make up lessons Week,Make up lessons Weekday,Make up lessons Schedule,Make up lessons Description
0,2021-03-01,2021-05-01,07:00:00,08:30:00,上午第1节课前一小时内考勤均认为正常考勤，可以按照自己的逻辑修改。,ML2020001,2021-03-15,2021-05-28,13.0,Fri,1--2,补课日期，补第几周的课，补周几的课，补第几节课
1,NaT,2021-05-02,10:05:00,10:25:00,上午1-2节下课到第3节课上课之间的时间被认为正常考勤。,DL2020001,2021-03-22,2021-05-24,13.0,Mon,3--4,NaN
2,NaT,2021-05-03,13:00:00,14:00:00,下午第1节课前一小时内考勤均认为正常考勤，可以按照自己的逻辑修改。,CV2020001,2021-05-24,2021-05-28,13.0,Fri,5--6,NaN
3,NaT,2021-05-04,15:35:00,15:55:00,下午1-2节下课到第3节课上课之间的时间被认为正常考勤。,NaN,NaT,NaT,NaN,NaN,NaN,NaN
4,NaT,2021-05-05,17:30:00,18:00:00,下午3-4节下课到晚上第1节课上课之间的时间被认为正常考勤。,NaN,NaT,NaT,NaN,NaN,NaN,NaN
5,NaT,NaT,19:35:00,19:55:00,晚上1-2节课下课到第3节课上课之间的时间被认为正常考勤。,NaN,NaT,NaT,NaN,NaN,NaN,NaN

In [4]:
au_info.columns

Index(['Semester Start Week', 'Holiday Date', 'Attendance period Start',
       'Attendance period End', 'Attendance period Description',
       'Make up lessons ID', 'Original lessons Date', 'Make up lessons Date',
       'Make up lessons Week', 'Make up lessons Weekday',
       'Make up lessons Schedule', 'Make up lessons Description'],
      dtype='object')

In [5]:
semester_start_week_date = au_info['Semester Start Week'][0]
semester_start_week_date

Timestamp('2021-03-01 00:00:00')

In [6]:
# 获取年月日
semester_start_week_date.date()

datetime.date(2021, 3, 1)

In [7]:
# 获取时分秒
semester_start_week_date.time()

datetime.time(0, 0)

## Datetime Format
- %Y: 4位数的年
- %y: 2位数的年
- %m: 2位数的月 [01,12]
- %d: 2位数的日 [01,31]
- %H: 24小时制 时 [00,23] 
- %I: 12小时制 时 [01,12]
- %M: 2位数的 分 [00,59]
- %S: 秒 [00,61] (60和61用于闰秒)

---
- %w: 用整数表示的星期几 [0(星期天),6]
- %U: 每年的第几周 [0, 53]。星期天被认为是每周的第一天，每年第一个星期天之前的那几天被认为是第0周。
- %W: 每年的第几周 [0, 53]。星期一被认为是每周的第一天，每年第一个星期天之前的那几天被认为是第0周。

---
- %F: %Y-%m-%d的简写形式，例如2021-5-23
- %D: %m/%d/%y的简写形式，例如23/05/21

---
限于当前环境的日期格式

- %a: 星期几的简写
- %A: 星期几的全称
- %b: 月份的简写
- %B: 月份的全称
- %c: 完整的日期和时间
- %p: 不同环境的AM和PM
- %x: 适用于当前环境的日期格式
- %X: 适用于当前环境的时间格式

In [8]:
datetime.now()

datetime.datetime(2021, 5, 24, 22, 22, 17, 163101)

In [9]:
# 完整的日期和时间
datetime.now().strftime('%c')

'Mon May 24 22:22:17 2021'

In [10]:
# 获取当前日期是周几(0-6, 0代表周一)
datetime.now().weekday()

0

In [11]:
# 获取当前日期是一年中的第几周
datetime.now().strftime('%W')

'21'

In [12]:
# 格式化日期
value = '2021-3-08 08:00:00'

datetime.strptime(value, '%Y-%m-%d %H:%M:%S')

datetime.datetime(2021, 3, 8, 8, 0)

In [13]:
# 获取指定日期属于周几
datetime.strptime(value, '%Y-%m-%d %H:%M:%S').strftime('%w')

'1'

In [14]:
# 获取指定日期属于当年的第几周
datetime.strptime(value, '%Y-%m-%d %H:%M:%S').strftime('%W')

'10'

In [15]:
# 获取指定日期属于当年的第几周
int(datetime.strptime(value, '%Y-%m-%d %H:%M:%S').strftime('%W'))

10

In [16]:
# 两个datetime时间对象的差
datetime.now() - semester_start_week_date

Timedelta('84 days 22:22:17.288096')

In [17]:
# 获取指定时间属于星期几
datetime.strptime(value, '%Y-%m-%d %H:%M:%S').strftime('%a')

'Mon'

In [18]:
datetime.strptime(value, '%Y-%m-%d %H:%M:%S').strftime('%A')

'Monday'

In [19]:
# 获取指定时间属于月份
datetime.strptime(value, '%Y-%m-%d %H:%M:%S').strftime('%b')

'Mar'

In [20]:
datetime.strptime(value, '%Y-%m-%d %H:%M:%S').strftime('%B')

'March'

In [21]:
au_info['Holiday Date']

0   2021-05-01
1   2021-05-02
2   2021-05-03
3   2021-05-04
4   2021-05-05
5          NaT
Name: Holiday Date, dtype: datetime64[ns]

In [22]:
list(au_info['Holiday Date'])

[Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-02 00:00:00'),
 Timestamp('2021-05-03 00:00:00'),
 Timestamp('2021-05-04 00:00:00'),
 Timestamp('2021-05-05 00:00:00'),
 NaT]

In [23]:
au_info['Holiday Date'][0].month, type(au_info['Holiday Date'][0].month)

(5, int)

In [24]:
au_info['Holiday Date'].iloc[-1], type(au_info['Holiday Date'].iloc[-1])

(NaT, pandas._libs.tslibs.nattype.NaTType)

In [25]:
pd.NaT

NaT

In [26]:
au_info['Holiday Date'].iloc[-1]

NaT

In [27]:
type(au_info['Holiday Date'].iloc[-1]) == type(pd.NaT)

True

In [28]:
# 因为表中有 NaT类型，这在遍历时会导致错误，因此需要先过滤掉NaT值
holidays = au_info['Holiday Date']
# 不包含 NaT 的索引
indexes_without_nat = [(type(holiday) != type(pd.NaT)) for holiday in au_info['Holiday Date']]
# 不包含 NaT 的假期列表
holidays_pure = list(holidays[indexes_without_nat])
holidays_pure

[Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-05-02 00:00:00'),
 Timestamp('2021-05-03 00:00:00'),
 Timestamp('2021-05-04 00:00:00'),
 Timestamp('2021-05-05 00:00:00')]

In [29]:
# 获取完整的时间格式
now = datetime.now()
# 分别获取当前的年，月，日，时，分，秒，均为int类型
judg_time = now
now_y = judg_time.year
now_m = judg_time.month
now_d = judg_time.day

# 用于存放包含年月日的datetime对象
attd_start_time_list = []
attd_end_time_list   = []

for attd_start_time, attd_end_time in zip(au_info['Attendance period Start'], au_info['Attendance period End']):
    attd_sh = attd_start_time.hour
    attd_sm = attd_start_time.minute
    attd_ss = attd_start_time.second
    
    attd_eh = attd_end_time.hour
    attd_em = attd_end_time.minute
    attd_es = attd_end_time.second
    # 转换为datetime.datetime类型的对象才能直接进行相加减运算
    # 因此，将au_info表格中的只有时分的数据添加年月日，并生成新的列表
    attd_start_time_list.append(datetime(now_y, now_m, now_d, attd_sh, attd_sm, attd_ss))
    attd_end_time_list.append(  datetime(now_y, now_m, now_d, attd_eh, attd_em, attd_es))

In [30]:
attd_start_time_list

[datetime.datetime(2021, 5, 24, 7, 0),
 datetime.datetime(2021, 5, 24, 10, 5),
 datetime.datetime(2021, 5, 24, 13, 0),
 datetime.datetime(2021, 5, 24, 15, 35),
 datetime.datetime(2021, 5, 24, 17, 30),
 datetime.datetime(2021, 5, 24, 19, 35)]

In [31]:
attd_end_time_list

[datetime.datetime(2021, 5, 24, 8, 30),
 datetime.datetime(2021, 5, 24, 10, 25),
 datetime.datetime(2021, 5, 24, 14, 0),
 datetime.datetime(2021, 5, 24, 15, 55),
 datetime.datetime(2021, 5, 24, 18, 0),
 datetime.datetime(2021, 5, 24, 19, 55)]

In [32]:
now = datetime.now()
now

datetime.datetime(2021, 5, 24, 22, 22, 17, 543096)

In [33]:
now.hour

22

In [34]:
now.minute

22

In [35]:
now.second

17